{% extends 'common/base.html' %}

{% block header %}
    <div class="alert alert-primary" role="alert">Indexページ</div>
{% endblock header %}

{% block content %}
    <div class='container'>
        <p><a href="{% url 'recomap:map' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button"
              aria-disabled="true">map</a></p>
        <p><a href="{% url 'recomap:marker_read_list' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button"
              aria-disabled="true">marker</a></p>
    </div>
{% endblock content %}